body {
    margin: 0;
    font-family: "CUSTOM";
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  @font-face {
      font-family: "CUSTOM";
      src: url("../../FONT/MIN.woff2");
  }
  @font-face {
      font-family: "NOTO";
      src: url("../../FONT/noto.ttf");
  }
  
  .main-content {
    flex-grow: 1;
    background-color: #313131;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250vh;
    
    }
  
  
  




  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
  }
  
  /* Image principale centrée */
  .image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image occupera toute la page sans déformer */
  }
  
  /* Ajout de la section de description */
  .description-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
    z-index: 10;
    border-radius: 8px;
  }
  
  .description-box h2 {
    margin-bottom: 20px;
  }
  
  .description-box p {
    font-size: 1em;
    line-height: 1.5;
    color: #bbb;
  }
  
  /* Version selection */
  .version-selection {
    position: absolute;
    top: 50%; /* Commence au milieu de l'image */
    right: 0;
    transform: translateY(-50%);
    background-color: rgb(43, 43, 43);
    padding: 20px;
    width: 350px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    z-index: 10;
    overflow-y: auto;
    margin-right: 100px;
    max-height: 80vh; 
    border-top-color: rgba(104, 104, 104, 0.9);  /* Bordure claire en haut */
    border-right-color: rgba(104, 104, 104, 0.9);  /* Bordure claire à droite */
    border-bottom-color: rgba(0, 0, 0, 0.9);  /* Bordure sombre en bas */
    border-left-color: rgba(0, 0, 0, 0.9);  /* Bordure sombre à gauche */
    border-style: solid;
  }
  

  .versionLOGO {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
  }
  .version-selection h2 {
    margin-bottom: 20px;
    font-size: 1em;
    text-align: left;
  }
  
  
  /* Style des versions */
  .version-box {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 15px;
    border: 2px solid transparent; /* Pas de bordure visible par défaut */
    transition: all 0.3s ease;
    background-color: #111;
    border-top-color: rgba(104, 104, 104, 0.9);  /* Bordure claire en haut */
    border-right-color: rgba(104, 104, 104, 0.9);  /* Bordure claire à droite */
    border-bottom-color: rgba(0, 0, 0, 0.9);  /* Bordure sombre en bas */
    border-left-color: rgba(0, 0, 0, 0.9);  /* Bordure sombre à gauche */
    border-style: solid;
    
  }
  
  .version-box h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .version-box p, .version-box ul li {
    font-size: 1em;
    margin-bottom: 10px;
    color: #bbb;
  }
  
  .version-box ul {
    list-style: none;
  }
  
  /* Marge entre les versions */
  .version-box:not(:last-child) {
    margin-bottom: 30px;
  }
  
  /* Effet hover */
  .version-box:hover {
    background-color: #333;
    border-color: #4caf50;
  }
  
  /* Version sélectionnée avec bordure verte */
  .version-box.selected {
    border-color: #4caf50;
    background-color: #222;
  }
  
  .highlighted-text {
    color: #4caf50;
  }
  
  .new-div-class .new-button-class {
    font-family: "CUSTOM";
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0 4px #3C8527;
    transition: all 0.3s ease;
    margin-left: 10px;  

}


.new-div-class .new-button-class:hover {
    background-color: #3C8527;
}

.new-div-class .new-button-class:active {
    box-shadow: 0 2px #3C8527;
    transform: translateY(2px);
}
  
  /* Responsivité */
  @media (max-width: 768px) {
    .version-selection, .description-box {
      width: 90%;
      left: 5%;
      right: 5%;
    }
  
    .main-image {
      width: 100%;
    }
  }


  /* Style de la description du jeu */
.game-description {
  border-radius: 8px;
  color: #f5f5f5;
  padding-left: 300px;
  padding-right: 500px;
  padding-bottom: 10px;
}

.game-description h3 {
  font-size: 3.0em;
  margin-bottom: 15px;
  color: #ffffff; /* Couleur jaune doré pour attirer l'attention */
  padding-right: 300px;
}

.game-description p {
  font-size: 0.8em;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 0;
  font-family: "NOTO";
}

.game-description p span {
  font-weight: bold;
  color: #ffcc00; /* Couleur des parties mises en valeur */
}

.game-description p em {
  font-size: 0.9em;
  color: #a0a0a0; /* Texte en italique avec couleur plus claire */
}





/* Conteneur du slider */
.sliderMC {
  position: relative;
  padding-left: 300px;
  padding-right: 500px;
  padding-top: 30px;
  max-width: 100%;
  margin: auto;
  text-align: left; /* Alignement à gauche du texte */
  color: #f5f5f5;
  box-sizing: border-box; /* Important pour que le padding n'affecte pas la largeur totale */
}

.slider-titleMC {
  font-size: 2.2em;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: left; /* Titre aligné à gauche */
  font-family: "CUSTOM"; /* Remplace par ta police personnalisée */
}

.main-slideMC {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start; /* Aligne l'image principale à gauche */
}

.main-imageMC {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  display: block;
}

.image-descriptionMC {
  font-size: 1em;
  color: #d3d3d3;
  margin: 10px 0;
  text-align: left; /* Alignement de la description à gauche */
}

/* Miniatures */
.thumbnail-containerMC {
  display: flex;
  justify-content: flex-start; /* Aligne les miniatures à gauche */
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.thumbnail:hover,
.thumbnail.active {
  border-color: #5FCA42; /* Couleur de la bordure active */
}

/* Style des boutons de navigation */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #3C8527;
  padding: 10px;
  cursor: pointer;
  font-family: "CUSTOM";
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.prev { left: 310px; }
.next { right: 980px; }

.prev:hover, .next:hover {
  background-color: rgb(24, 24, 24);
  box-shadow: 4px 4px 0 #000000;
  color: #5FCA42;
}






/* Conteneur principal */
.comparison-container {
  padding-left: 300px;
  padding-right: 500px;
  max-width: 100%;
  margin: auto;
  text-align: left;
  color: #f5f5f5;
  font-family: "CUSTOM"; /* Remplace par la police que tu utilises */
}

/* Titre du tableau */
.comparison-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

/* Tableau de comparaison */
.comparison-table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

/* En-têtes */
.comparison-table thead th {
  font-size: 1.1em;
  padding: 15px 10px;
  color: #ffffff;
  background-color: #333333;
  text-transform: uppercase;
  text-align: center;
}

/* Cellules */
.comparison-table tbody td {
  padding: 15px 10px;
  border-top: 1px solid #444444;
  color: #d3d3d3;
  text-align: center;
}

/* Colonnes pour "applicable" et "non applicable" */
.applicable {
  font-size: 1.5em;
}

.not-applicable {
  font-size: 1.5em;
}


/* Styles des lignes */
.comparison-table tbody tr:nth-child(odd) {
  background-color: #222222; /* Pour un effet de zébrage */
}

.comparison-table tbody tr:nth-child(even) {
  background-color: #1a1a1a;
}
.comparison-container p {
  font-family: "NOTO";
  font-size: 0.8em;
  padding-bottom: 20px;
}





  
  
  
  

  
