body {
    margin: 0;
    font-family: "CUSTOM";
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  @font-face {
    font-family: "CUSTOM";
    src: url("../../FONT/MIN.woff2");
  }
  @font-face {
    font-family: "NOTO";
    src: url("../../FONT/noto.ttf");
  }
  
  .main-content {
    flex-grow: 1;
    background-color: #313131;
    background-size: cover;
    background-repeat: no-repeat;

  
    }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);  
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 4px #444444;
  
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    width: 180px;
    margin-right: 10px;
    transition: transform 0.3s ease; 
  }
  
  .logo:hover {
    transform: scale(1.1); 
  }
  
  .top-left, .top-right {
    display: flex;
    align-items: center;
  }
  
  .top-left img {
    height: 40px;
    margin-left: 10px;
  }
  
  .top {
    margin: 0 10px;  
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .top-center {
      flex: 2; /* Plus de flexibilité pour le centre */
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .top-right .relief-button {
    font-family: "CUSTOM";
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0 4px #3C8527;
    transition: all 0.3s ease;
    margin-left: 10px;  
  }
  
  .top-right .relief-button:hover {
    background-color: #3C8527;
  }
  
  .top-right .relief-button:active {
    box-shadow: 0 2px #3C8527;
    transform: translateY(2px);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
    left: 0;
    border-radius: 10px;
  }
  
  .dropdown-content .dropdown-section {
    padding: 10px;
  }
  
  .dropdown-content .dropdown-section h4 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
  }
  
  .dropdown-content a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .top {
    color: #c0c0c0;
  }
  
  .top:hover {
    color: #c0c0c0;
  }
  .top .arrow {
    display: inline-block;
    margin-left: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transition: transform 0.3s;
  }
  
  .dropdown:hover .arrow {
    transform: rotate(225deg); /* Flèche vers le haut */
  }
  
  .arrow {
    transform: rotate(45deg); /* Flèche vers le bas */
  }
  
  






  /* Conteneur principal de la FAQ */
.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center; /* Centre le contenu verticalement */
    text-align: center;
    padding: 50px;
    background-color: white;
  }
  
  .loggo {
    width: 100px;
    margin-bottom: 20px;
    margin-top: 40px;
}

  /* Titre de la FAQ */
  .faq-title {
    font-family: 'CUSTOM';
    font-size: 38px;
    color: black;
    margin-bottom: 5px;
  }

.detail{
    font-family: 'NOTO';
    margin-bottom: 20px;
  }
  
  /* Conteneur des colonnes */
  .faq-columns {
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 1000px;
    width: 100%;
  }


  
  /* Style pour chaque élément FAQ */
  .faq-item h2 {
    font-size: 19px;
    color: black;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'NOTO';
  }
  
  .faq-item p {
    font-family: 'NOTO';
    font-size: 14px;
    color: black;
    line-height: 1.5;
    margin: 0 auto; /* Centrer les paragraphes */
    text-align: left;
    max-width: 300px;
  }
  
  .faq-item a {
    color: #458f31;
    text-decoration: underline; /* Ajoute le soulignement par défaut */
    transition: text-decoration 0.3s ease;
  }
  
  .faq-item a:hover {
    text-decoration: none; /* Retire le soulignement au survol */
  }
  
  /* Styles responsives pour les petits écrans */
  @media (max-width: 768px) {
    .faq-columns {
        flex-direction: column; /* Passer en une colonne sur petit écran */
        gap: 20px;
    }
  
    .faq-title {
        font-size: 36px;
    }
  
    .faq-item h2 {
        font-size: 20px;
    }
  
    .faq-item p {
        font-size: 14px;
    }
  }





.jobs-section {
    background-color: #ffffff;
    padding: 40px 20px;
}
.jobs-title {
    font-size: 38px;
    margin-bottom: 30px;
    font-family: 'CUSTOM';
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.jobs-grid {
    display: flex;
    justify-content: center;
    gap: 150px;
}
.job-location {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.job-location h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;

    font-family: 'NOTO';
}
.job-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 0px;
    box-shadow: 0 4px #3C8527;
    transition: all 0.3s ease;
    text-decoration: none;
}
.job-button:hover {
    background-color: #45a049;
}
.job-button:active{
    box-shadow: 0 2px #3C8527;
    transform: translateY(2px);
}









  .social-container {
    background-color: #000000; /* Fond noir */
    padding: 20px 0; /* Espacement interne */
    text-align: center; /* Centrer le texte */
  }
  
  .social-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacement entre les icônes */
  }
  
  .social-icon img {
    width: 40px; /* Taille des icônes */
    height: 40px;
    border-radius: 50%; /* Pour rendre les icônes circulaires */
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .social-icon img:hover {
    transform: scale(1.1); /* Agrandissement au survol */
  }
  
  
  
  .footer {
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 40px 0;
    width: 100%;
    font-family: "NOTO";
    position: relative;
    z-index: -1;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin-bottom: 20px;
    flex: 1;
    min-width: 180px;
  }
  
  .footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff; /* Texte blanc pour les titres de section */
  }
  
  .footer-section a {
    display: block;
    color: #bbb;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .footer-section a:hover {
    color: #fff; /* Texte blanc au survol */
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 12px;
    color: #888;
  }
  
  .footer-links a {
    color: #888;
    margin: 0 15px;
    text-decoration: none;
    font-size: 12px;
  }
  
  .footer-links a:hover {
    color: #fff; 
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        text-align: center;
    }
  }
  
  .logofoot{
    height: 30px;
    transition: transform 0.3s ease; 
    padding-left: 20px;
  }
  
  .logofoot:hover {
    transform: scale(1.1); 
  }

  