/* Styles responsives */
@media (max-width: 768px) {
    .faq-columns {
        flex-direction: column;
        gap: 20px;
    }

    .faq-title {
        font-size: 28px; /* Réduction du titre */
    }

    .faq-item h2 {
        font-size: 18px;
    }

    .faq-item p {
        font-size: 16px;
    }

    .loggo {
        width: 80px; /* Réduction de la taille du logo */
    }
}
/* Responsivité pour la section Jobs */
@media (max-width: 768px) {
    .jobs-grid {
        flex-direction: column;
        gap: 30px;
    }

    .job-location {
        width: 100%;
        max-width: 400px; /* Réduire la taille des cartes sur petits écrans */
        padding: 20px 10px; /* Réduire le padding sur petits écrans */
    }

    .jobs-title {
        font-size: 28px;
        margin-top: 50px;
    }

    .job-location h4 {
        font-size: 1.2em;
    }

    .job-button {
        padding: 12px 25px;
    }
}

/* Footer */
footer {
    background-color: #313131;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Responsive tweaks for smaller devices */
@media (max-width: 480px) {
    .faq-title {
        font-size: 24px;
    }

    .faq-item h2 {
        font-size: 16px;
    }

    .faq-item p {
        font-size: 14px;
    }

    .jobs-title {
        font-size: 24px;
    }
}