.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);  
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 4px #444444;
  
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    width: 180px;
    margin-right: 10px;
    transition: transform 0.3s ease; 
  }
  
  .logo:hover {
    transform: scale(1.1); 
  }
  
  .top-left, .top-right {
    display: flex;
    align-items: center;
  }
  
  .top-left img {
    height: 40px;
    margin-left: 10px;
  }
  
  .top {
    margin: 0 10px;  
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .top-center {
      flex: 2; /* Plus de flexibilité pour le centre */
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .top-right .relief-button {
    font-family: "CUSTOM";
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0 4px #3C8527;
    transition: all 0.3s ease;
    margin-left: 10px;  
  }
  
  .top-right .relief-button:hover {
    background-color: #3C8527;
  }
  
  .top-right .relief-button:active {
    box-shadow: 0 2px #3C8527;
    transform: translateY(2px);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
    left: 0;
    border-radius: 10px;
  }
  
  .dropdown-content .dropdown-section {
    padding: 10px;
  }
  
  .dropdown-content .dropdown-section h4 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
  }
  
  .dropdown-content a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .top {
    color: #c0c0c0;
  }
  
  .top:hover {
    color: #c0c0c0;
  }